<ion-header>
  <ion-toolbar>
    <ion-title>view_wait_detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-list> -->
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxx BUCLE xxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- <ion-item
        *ngFor="let c of [1, 1, 1, 1, 1, 1, 1, 1]; let i = index"
        routerLink="/view-open-detail"
      >
        <ion-grid>
          <ion-row>
            <ion-col size="7"> Titulo Casa ó Apartamento número {{ i }}</ion-col>
            <ion-col size="2">x</ion-col>
            <ion-col size="2">X</ion-col>
            <ion-col size="1"><ion-icon name="play"></ion-icon></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> -->
  
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxx FIN BUCLE xxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- </ion-list> -->
    <!-- <ion-card justify-content-center align-items-center>
      <ion-card-title padding>Titulo del Inmueble</ion-card-title>
    </ion-card> -->
  
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <h1>Titulo del Inmueble</h1>
      </ion-row>
    </ion-grid>
  <!-- 
    <ion-label justify-content-center align-items-center
      >Titulo del Inmueble
    </ion-label> -->
    <ion-card>
      <ion-card-title padding>Día 2/10/2019</ion-card-title>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6"> 10:00 AM </ion-col>
            <ion-col size="3"><ion-icon name="close-circle"></ion-icon></ion-col>
            <ion-col size="3"
              ><ion-icon name="checkmark-circle"></ion-icon
            ></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6"> 2:00 PM </ion-col>
            <ion-col size="3"><ion-icon name="close-circle"></ion-icon></ion-col>
            <ion-col size="3"
              ><ion-icon name="checkmark-circle"></ion-icon
            ></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6"> 3:30 PM </ion-col>
            <ion-col size="3"><ion-icon name="close-circle"></ion-icon></ion-col>
            <ion-col size="3"
              ><ion-icon name="checkmark-circle"></ion-icon
            ></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-title padding>Día 5/10/2019</ion-card-title>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6"> 10:00 AM </ion-col>
            <ion-col size="3"><ion-icon name="close-circle"></ion-icon></ion-col>
            <ion-col size="3"
              ><ion-icon name="checkmark-circle"></ion-icon
            ></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6"> 2:00 PM </ion-col>
            <ion-col size="3"><ion-icon name="close-circle"></ion-icon></ion-col>
            <ion-col size="3"
              ><ion-icon name="checkmark-circle"></ion-icon
            ></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6"> 3:30 PM </ion-col>
            <ion-col size="3"><ion-icon name="close-circle"></ion-icon></ion-col>
            <ion-col size="3"
              ><ion-icon name="checkmark-circle"></ion-icon
            ></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-title padding>Día 6/10/2019</ion-card-title>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6"> 10:00 AM </ion-col>
            <ion-col size="3"><ion-icon name="close-circle"></ion-icon></ion-col>
            <ion-col size="3"
              ><ion-icon name="checkmark-circle"></ion-icon
            ></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6"> 2:00 PM </ion-col>
            <ion-col size="3"><ion-icon name="close-circle"></ion-icon></ion-col>
            <ion-col size="3"
              ><ion-icon name="checkmark-circle"></ion-icon
            ></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6"> 3:30 PM </ion-col>
            <ion-col size="3"><ion-icon name="close-circle"></ion-icon></ion-col>
            <ion-col size="3"
              ><ion-icon name="checkmark-circle"></ion-icon
            ></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
  <ion-button expand="fill" color="primary" routerLink="/login">Guardar</ion-button>
  
