<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Catalogo de Inmuebles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-button expand='full' routerLink="/login" *ngIf="btniniciar"> Bienvenido... Inicia Sesión..</ion-button>
<ion-content>
  <!-- ooooooooooooooooooooooooooooooooBUCLEoooooooooooooooooooooooooooooooo -->
  <ion-card class="welcome-card" routerLink="/house-detail">
    <img src="../assets/myimages/c01.jpg" />
    <!-- <img src="../assets/myimages/c01.jpg" alt="" style="height: 8em"/> -->
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-card-title>Casa Hatillo</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon name="play"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- ooooooooooooooooooooooooooooooooFIN BUCLEoooooooooooooooooooooooooooooooo -->

  <ion-card class="welcome-card" routerLink="/house-detail">
    <!-- <ion-img src="../assets/myimages/a04.jpg" ></ion-img> -->
    <img src="../assets/myimages/a04.jpg" />
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-card-title>Apartamento</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon name="play"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="welcome-card" routerLink="/house-detail">
    <img src="../assets/myimages/c01.jpg" />
    <!-- <img src="../assets/myimages/c01.jpg" alt="" style="height: 8em"/> -->
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-card-title>Casa Hatillo</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon name="play"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-card class="welcome-card" routerLink="/house-detail">
    <!-- <ion-img src="../assets/myimages/a04.jpg" ></ion-img> -->
    <img src="../assets/myimages/a04.jpg" />
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-card-title>Apartamento</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon name="play"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="welcome-card" routerLink="/house-detail">
    <img src="../assets/myimages/c01.jpg" />
    <!-- <img src="../assets/myimages/c01.jpg" alt="" style="height: 8em"/> -->
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-card-title>Casa Hatillo</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon name="play"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-card class="welcome-card" routerLink="/house-detail">
    <!-- <ion-img src="../assets/myimages/a04.jpg" ></ion-img> -->
    <img src="../assets/myimages/a04.jpg" />
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-card-title>Apartamento</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon name="play"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="welcome-card" routerLink="/house-detail">
    <img src="../assets/myimages/c01.jpg" />
    <!-- <img src="../assets/myimages/c01.jpg" alt="" style="height: 8em"/> -->
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-card-title>Casa Hatillo</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon name="play"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-card class="welcome-card" routerLink="/house-detail">
    <!-- <ion-img src="../assets/myimages/a04.jpg" ></ion-img> -->
    <img src="../assets/myimages/a04.jpg" />
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-card-title>Apartamento</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon name="play"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="welcome-card" routerLink="/house-detail">
    <img src="../assets/myimages/c01.jpg" />
    <!-- <img src="../assets/myimages/c01.jpg" alt="" style="height: 8em"/> -->
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-card-title>Casa Hatillo</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon name="play"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-card class="welcome-card" routerLink="/house-detail">
    <!-- <ion-img src="../assets/myimages/a04.jpg" ></ion-img> -->
    <img src="../assets/myimages/a04.jpg" />
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-card-title>Apartamento</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon name="play"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
